:root {
    --firstColor: #faf7e1;
    --secondColor: #8d694d;
}


/* ####################             body               #################### */
/* body {
    background-color: var(--firstColor);
} */


/* ####################             контейнер               #################### */
.container {
    background: var(--firstColor);
    display: grid;
    min-height: 100vh;
    grid-template-rows: 50px 1fr 100px;        
}
.container > :nth-child(2n-1) {    /* обращаемся к нечетным дочерним элементам */
    background: var(--secondColor);
 }
 .container > :nth-child(2) {    /* обращаемся к нечетным дочерним элементам */
    background: var(--firstColor);
 }
 main {
    display: grid;
    min-height: 100%;
    width: 1000px;
    margin: auto;
 }


/* ####################             header               #################### */
.header {
    display: grid;
    align-content: center;
    justify-content: stretch;
}
.header_cont {
    display: grid;
    grid-template-columns: 100px 1fr 100px 90px 20px 50px;
    gap: 10px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    width: 1000px;
    margin: auto;
}
.header_cont > a {
    display: grid;
    align-content: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.header_cont > :nth-child(2){
    display: grid;
    align-content: center;
}
#reg_in {
    display: grid;
    grid-template-columns: 65px 5px 30px;
    align-content: center;
}
.searchBook {
    width: 100%;;
}
#searchBookInput {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border:none;
}
#reg_in > a {
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#exitBtnDiv {
    display: grid;
    align-content: center;
    justify-content: center;        
}
#exitBtn {
    border: none;
    background: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


/* ####################             signup               #################### */
.signup {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}
.signupWindow {
    display: grid;
    width: 400px; 
    gap: 10px; 
    padding: 20px;
    border: 1px solid var(--secondColor);
    border-radius: 5px;
    background: #8d694d24;
}   
.signupWindow > h3 {
    text-align: center;
}   
#signupForm > div {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 5px;
    align-items: center;
}
#signupForm > div > input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--secondColor);
    background: var(--firstColor);
}
#signupSend, #loginSend {    
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
}


/* ####################             404               #################### */
.main404 {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    color: #6b5748;
}
.main404text {
    margin: auto;
    display: grid;
    justify-items: center;
    gap: 20px;
    
}
.main404text > :nth-child(1) {
    font-size: xxx-large;
}
#img404 {
    width: 400px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: auto;
    opacity: .65;
}

/* ####################             profile               #################### */
.profileWindow {
    display: grid;
    width: 500px; 
    gap: 10px; 
    padding: 20px;
    border: 1px solid var(--secondColor);
    border-radius: 5px;
    background: #8d694d24;
}
.profileWindow > h3 {
    text-align: center;
}
.profileWindow > form {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 5px;
    align-items: center;
}
.selectFileDiv {                              
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 10PX;
}
.formImage > input , .selectFile, .selectFileDiv > span {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--secondColor);
    background: var(--firstColor);
    cursor: pointer;
}
#myFile {
    opacity: 0;
    display: none;
    position: absolute;
    z-index: -1;
}
.img_profile {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
}
.img_profile > :nth-child(1) {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    box-shadow: 1px 1px 1px gray;
}
.img_profile > :nth-child(1) > img {
    width: 95px;
    margin: auto;

}
.img_profile > :nth-child(2) {
    display: grid;
    align-content: center;
}
.img_profile > :nth-child(2) > span {    
    font-size: 1.3rem;
    font-weight: 600;
}


/* ####################             main.php               #################### */
#bookCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
#bookInfoCont {
    display: none;
    justify-content: center;
    align-content: center;
}
.fullParentDiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin: 10px;
}
.main_book {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 250px;
    height: 310px;
}
.bookImgDiv {
    height: 250px;
    box-shadow: 2px 2px 2px gray;
}
.bookImgDiv > img {
    height: 100%;
}
.bookImgDiv > div {
    display: grid;
    justify-content: center;
}
.fullInfoNewDivPoster {
    display: grid;
    justify-content: center;
    align-content: center;
}
.newInfo {
    display: grid;
    justify-content: center;
    align-content: start;
    grid-template-rows: 30px auto;
    gap: 15px;
}
.newInfo > div, .newInfo > div > span {
    font-size: 1.2rem;
}
.newInfo > input {
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--secondColor);
    background: var(--firstColor);
    box-shadow: 1px 1px 1px gray;
    cursor: pointer;
}
.fullInfoBookPoster {
    box-shadow: 2px 2px 2px gray;
}

/* ####################             favorites               #################### */

#bookContFavoritPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
#bookInfoContFavoritPage {
    display: none;
    justify-content: center;
    align-content: center;
}
/* ####################             footer               #################### */